button {
	border: 1px solid #333;
	color: #333;
	outline: none;

	padding: 10px 20px;
	border-radius: 14px;

	font-weight: 500;

	transition: 0.3s ease-in-out;

	&:hover {
		background-color: #333;
		color: #fefefe;
		border-color: #fefefe;
		cursor: pointer;
	}

	&:focus {
		border-color: #7776bc;
		box-shadow: 0 0 2px 1px #7776bc;
	}
}

input {
	border: 1px solid #333;
	color: #333;
	outline: none;

	padding: 10px 20px;
	border-radius: 14px;

	transition: 0.3s ease-in-out;

	&:hover {
		background-color: #333;
		color: #fefefe;
		border-color: #fefefe;
	}

	&:focus {
		border: 1px solid #7776bc;
		box-shadow: 0 0 2px 1px #7776bc;
	}
}

.navLink {
	padding: 10px;
	color: #333;
	background-color: #fefefe;
	text-decoration: none;
	position: relative;

	transition: 0.2s ease-in-out;

	&:hover {
		color: #7776bc;
	}

	&:after {
		content: '';
		width: 0;
		height: 1px;
		background-color: #7776bc;
		position: absolute;
		left: 0;
		bottom: 5px;

		transition: 0.2s width ease-in-out;
	}

	&:hover::after {
		width: 100%;
	}
}

.error {
	padding: 10px;
	text-align: center;
	border-radius: 14px;
	color: #940000;
	background-color: #e8c6c6;
	border: 1px solid #940000;
}
